.prohome{
    background-color: rgb(255, 255, 255);
   height: 150vh;
    float: right;
    width:1100px;
}
.probg{
background-color: rgb(255, 255, 255);
background-size: cover;
width: 100vh;
height: 50vh;
}
.imgpro{
    background-image: url("pro7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 280px;
    border-radius: 10px;
    width:400px;
    position: relative;
    top: 130px; left:650px;
}
.imgbcont{
    background-color: #0f9597;
    height:115px;
    width: 380px;
    position: relative;
    left: 570px;
    top:50px;
    color: white;
    padding: 15px 20px;
    border-radius:10px;
}
.probtn{
    position: relative;
    left:95px;
    height:50px;
    width:160px;
}
.redux{
    position:relative;
    left: 101px;
    top:20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    text-decoration:none;
    margin-bottom: 15px;
    padding-right: 10px;
}
.probox{
    margin-left:100px;
    color: rgb(102, 102, 102);

}
.protitle{
    font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: #0f9597;
  margin-top: -300px;
  margin-left: 100px;

}
* {
    font-family: Nunito, sans-serif;
  }